<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ONLINE STORE</title>
	<link rel = "stylesheet"  type="text/css" th:href="@{/nav.css}"/>	
</head>
<body>
	<nav>
		<span class="button box">
			<a th:href="@{/}">Home</a>
		</span>
		<span class="button box>
			<a th:href="@{/negozi}">Negozi</a>
		</span>
		
		<!-- Right -->
		<span class="button box right">
			<a th:href="@{/cart}">Carrello</a>
		</span>
	</nav>
	
	<h1>WORK IN PROGRESS</h1>
	
	
</body>
</html>
