<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ONLINE STORE | Prodotti</title>
	<link rel = "stylesheet"  type="text/css" th:href="@{/nav.css}"/>		
</head>
<body>
	<nav>
		<span class="button box">
			<a th:href="@{/}">Home</a>
		</span>
		<span class="button box">
			<a th:href="@{/negozi}">Negozi</a>
		</span>
		<form th:action="@{/prodotti}" method="GET" th:object="${searchContent}" class="box">
			<input type="text" th:field="*{value}" placeholder="Cerca prodotto" class="search"/>
			<input type="submit" value="Search" class="submit"/>
		</form>
	</nav>

	<h1>Pagina Prodotti</h1>
	
	<div th:each="prodotto: ${prodotti}">
		<h3 th:text="${prodotto.getNome()}"></h3>
		<p th:text="${prodotto.getPrezzo() + '€'}"></p>
	 	<a th:href="@{/prodotti/{codice}(codice=${prodotto.getCodice()})}">
	 		<p>GO TO</p>
	 	</a>
	</div>
	
</body>
</html>