<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Negozi | ONLINE STORE</title>
	<link rel = "stylesheet"  type="text/css" th:href="@{/nav.css}"/>
</head>
<body>
	<nav>
		<span class="button box">
			<a th:href="@{/}">Home</a>
		</span>
		<span class="button box">
			<a th:href="@{/negozi/create}">Crea Negozio</a>
		</span>
		<form th:action="@{/prodotti}" method="GET" th:object="${searchContent}" class="box">
			<input type="text" th:field="*{value}" placeholder="Cerca prodotto" class="search"/>
			<input type="submit" value="Search" class="submit"/>
		</form>
		
		<!-- Right -->
		<span th:attr="count=${session.cartItemCount != null ? session.cartItemCount : 0}" 
		class="button box right" id="cartMenu">
			<a th:href="@{/cart}">Carrello</a>
		</span>
	</nav>
	<h1>Pagina Negozi</h1>
		<div th:each="negozio: ${negozi}" class="card" id="negozioCard">
		 	<h3 th:text="${negozio.getNome()}" class= "text title"></h3>
		 	<p th:text="${negozio.getIndirizzo() + ', ' + negozio.getCittaNome()}" class="text"></p>
		 	<a th:href="@{/negozi/{id}/prodotti(id=${negozio.getId()})}">
		 		<div>GO TO</div>
		 	</a>
		</div>
</body>
</html>