<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${negozio.getNome() + ' | ONLINE STORE'}"></title>
	<link rel = "stylesheet"  type="text/css" th:href="@{/nav.css}"/>
</head>
<body>
	<nav>
		<span class="button box">
			<a th:href="@{/}">Home</a>
		</span>
		<span class="button box">
			<a th:href="@{/negozi}">Negozi</a>
		</span>
		<span class="button box">
			<a th:href="@{/negozi/{id}/prodotti/add(id=${negozio.getId()})}">Aggiungi Prodotti</a>
		</span>
		<form th:action="@{/prodotti}" method="GET" th:object="${searchContent}" class="box">
			<input type="text" th:field="*{value}" placeholder="Cerca prodotto" class="search"/>
			<input type="submit" value="Search" class="submit"/>
		</form>
		
		<!-- Right -->
		<span class="button box right">
			<a th:href="@{/cart}">Carrello</a>
		</span>
	</nav>
	<h1 th:text="${'Prodotti di ' + negozio.getNome()}"></h1>

	<div th:if="${noProductsFlag} == true">
		<h2>Nessun Prodotto Disponibile per ora :( </h2>
	</div>

	<div class="container" th:if="${noProductsFlag} == false">		
		<div th:each="prodotto: ${prodottiInNegozio}" class="card" id="prodottoCard" style="padding: 50px;"> 
			<div id="placeholderImg" style="background-color: black; width: 70px; height:100px;"></div>
			<a th:href="@{/negozi/{id}/prodotti/{codice}/remove(id=${negozio.getId()}, codice=${prodotto.getCodice()})}">
				Rimuovi
			</a>
		 	<h3 th:text="${prodotto.getNome()}" class= "text title"></h3>
		 	<p th:text="${prodotto.getPrezzo() + '€'}" class="text"></p>
		 	<p th:text="${prodotto.getCategoriaNome()}" class="text"></p>
		 	<a th:href="@{/negozi/{id}/prodotti/{codice}(id=${negozio.getId()}, codice=${prodotto.getCodice()})}">Mostra altro</a>
		</div>
	</div>
</body>
</html>