<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${prodottoCurrent.getNome() + ' | ONLINE STORE'}"></title>
	<link rel = "stylesheet"  type="text/css" th:href="@{/nav.css}"/>	
</head>
<body>
	<nav>
		<span class="button box">
			<a th:href="@{/}">Home</a>
		</span>
		<span th:if="${negozioId != null}" class="button box">
			<a th:href="@{/negozi/{id}/prodotti(id=${negozioId})}">Torna al Negozio</a>
		</span>
		<span class="button box">
			<a th:href="@{/negozi}">Negozi</a>
		</span>
		<form th:action="@{/prodotti}" method="GET" th:object="${searchContent}" class="box">
			<input type="text" th:field="*{value}" placeholder="Cerca prodotto" class="search"/>
			<input type="submit" value="Search" class="submit"/>
		</form>
		
		<!-- Right -->
		<span th:attr="count=${session.cartItemCount != null ? session.cartItemCount : 0}" 
		class="button box right" id="cartMenu">
			<a th:href="@{/cart}">Carrello</a>
		</span>
	</nav>
	
	<!-- NOME PRODOTTO -->
	<h1 th:text="${prodottoCurrent.getNome()}"></h1>

	<form th:action="@{/prodotti/{codice}/modifica(codice=${prodottoCurrent.getCodice()})}" method="POST">
		<input type="submit" value="Modifica Prodotto"/>
	</form>

	<div class="container">
		<!-- Dettagli -->
		<h4 th:text="${prodottoCurrent.getDescrizione()}"></h4>
		<h2 th:text="${prodottoCurrent.getPrezzo() + '€'}">PREZZO</h2>
		<h3 th:text="${prodottoCurrent.getCategoriaNome()}">CATEGORIA</h3>
		
		<!-- Acquista Da negozio -->
		<form th:if="${negozioId != null}" th:action="@{/prodotti/{codice}/aggiungi-al-carrello(codice=${prodottoCurrent.getCodice()})}" 
		th:object="${cartRequest}" method="POST">
		
			<!-- Passaggio dei parametri -->	
			<select hidden type="text" th:field="*{negozioId}" >
				<option hidden th:value="${negozioId}" selected="selected"></option>
			</select>
			
			<select hidden type="text" th:field="*{prodottoId}" >
				<option hidden th:value="${prodottoCurrent.getId()}" selected="selected"></option>
			</select>
			
			<select hidden type="text" th:field="*{nome}" >
				<option hidden th:value="${prodottoCurrent.getNome()}" selected="selected"></option>
			</select>
			
			<select hidden type="text" th:field="*{prezzo}" >
				<option hidden th:value="${prodottoCurrent.getPrezzo()}" selected="selected"></option>
			</select>
			
			<!-- Quantita e Submit -->
			<label>Quantità:</label> 
			<input type="number" min="1" max="99" th:field="*{quantita}" th:placeholder="1"/>
				 
			<input type="submit" value="Aggiungi al Carrello"/>
		</form>
		
		<!-- Disponibilita -->
		<div th:if="${negoziFornitori != null}">
			<h3> Disponibile nei Negozi:</h3>
			<table>
				<tr th:each="fornitore : ${negoziFornitori}">
					<td> 
						<a th:href="@{/negozi/{id}/prodotti(id=${fornitore.getId()})}" th:text="${fornitore.getNome()}"> </a> 
					</td>
					<td th:text="${fornitore.getIndirizzo() + ','}"></td>
					<td th:text="${fornitore.getCittaNome()}"></td>
					<td th:text="${fornitore.getCittaCap()}"></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
